<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="fr">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108352896-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-108352896-1');
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="img/logo.png" />
        <link rel="stylesheet" href="styles/styles.css" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <div id="modal">
          <img id="nav-modal-close-btn" src="img/nav-modal-close.svg"><img/>
          <div id="modal-content">
            
          </div>
        </div>
        <section class="project project-dark project-landing">
          <div class="project-body project-body-wide">
            <div class="project-body-title">
              <h1>Hello, je suis Julien, un apprenti développeur web, passionné par <span id="landing-techno">Javascript</span>.</h1>
              <a href="https://github.com/JuCollet" target="_blank"><i class="fa fa-github"></i></a>
              <a href="https://www.linkedin.com/in/colletjulien/" target="_blank"><i class="fa fa-linkedin"></i></a>
              <a href="mailto:ju.collet@gmail.com"><i class="fa fa-envelope-o"></i></a>
            </div>
            <div class="project-body-content">
            </div>
          </div>
          <div class="project-artwork">
            <img class="desktop-only" id="art-portrait" src="img/portrait.jpg"/>
          </div>
        </section>
        <div id="preload">
          <img src="img/static-gauge.svg" width="1"></img>
        </div>        
        <section class="project project-dark project-tall">
          <div class="project-body project-body-narrow">
            <div class="project-body-box" data-trigger="true">
              <div class="project-body-title">
                <h1>Qode</h1>
                <div class="freshness desktop-only">
                  <svg version="1.1" class="gauge" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  	 viewBox="0 0 100 60" xml:space="preserve" data-date="June 3, 2017" data-animation="needle">
                    <path style="fill:#F5A623;" d="M50,12.5c6.832,0,13.23,1.836,18.747,5.028l6.25-10.824C67.642,2.448,59.109,0,50,0
                    	c-9.109,0-17.641,2.448-24.996,6.704l6.249,10.824C36.769,14.336,43.168,12.5,50,12.5z"/>
                    <path style="fill:#FF3F00;" d="M0,50h12.5c0-13.879,7.546-25.988,18.753-32.473L25.004,6.704C10.061,15.35,0,31.495,0,50z"/>
                    <path style="fill:#4EE898;" d="M87.5,50H100c0-18.505-10.061-34.65-25.003-43.296l-6.25,10.824C79.954,24.012,87.5,36.121,87.5,50z"/>
                    <polygon id="gauge-needle" style="fill:#2E2E2E;" points="57.071,50 50,57.071 42.929,50 50,4.472" transform="rotate(-90 50 50)"/>
                  </svg>
                  <span class="gauge-oldness">&nbsp;</span>
                </div>
              </div>
              <div class="project-body-nav-mobile mobile-only">
                <ul><li class="active"></li><li></li><li></li></ul>
              </div>              
              <div class="project-body-nav desktop-only">
                <ul class="project-body-nav-list">
                  <li class="active">Présentation</li>
                  <li>Projet</li>
                  <li>Code</li>
                </ul>
              </div>
              <div class="project-body-content">
                <ul class="project-body-content-list">
                  <li class="Présentation active">
                    <p>Mon premier projet “full-stack”, réalisé en conclusion d'une formation de 7 mois donnée par HKUST sur Coursera.</p>
                    <a href="http://www.qode.be" target="_blank"><div class="btn btn-big btn-green">Essayer</div></a>
                  </li>
                  <li class="Projet">
                    <p>Cette application permet à un utilisateur de créer une simple page de contenu accessible publiquement via un code de 5 caractères.</p>
                  </li>
                  <li class="Code">
                    <p>Développée avec AngularJS, elle est servie par un serveur Express (NodeJS) et utilise une base de donnée NoSQL MongoDB.</p>
                    <a href="https://github.com/JuCollet/Qode" target="_blank"><div class="btn btn-big btn-green"><i class="fa fa-github"></i>&nbsp;&nbsp;En savoir plus</div></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="project-artwork">
            <img class="desktop-only" id="art-qode-iphone-top" src="img/qode_iphone_mockup_1.png" data-animation="fade slide"/>
            <img class="desktop-only" id="art-qode-iphone-bottom" src="img/qode_iphone_mockup_2.png" data-animation="fade slide"/>
            <img class="mobile-only" id="art-qode-pixel" src="img/qode_pixel_mockup.png" />
          </div>
        </section>
        
        <section class="project project-clear">
          <div class="project-body project-body-narrow">
            <div class="project-body-box" data-trigger="true">
              <div class="project-body-title">
                <h1>Periscope</h1>
                <div class="freshness desktop-only">
                  <svg version="1.1" class="gauge" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  	 viewBox="0 0 100 60" style="enable-background:new 0 0 100 70;" xml:space="preserve" data-date="September 3, 2017" data-animation="needle">
                    <path style="fill:#F5A623;" d="M50,12.5c6.832,0,13.23,1.836,18.747,5.028l6.25-10.824C67.642,2.448,59.109,0,50,0
                    	c-9.109,0-17.641,2.448-24.996,6.704l6.249,10.824C36.769,14.336,43.168,12.5,50,12.5z"/>
                    <path style="fill:#FF3F00;" d="M0,50h12.5c0-13.879,7.546-25.988,18.753-32.473L25.004,6.704C10.061,15.35,0,31.495,0,50z"/>
                    <path style="fill:#4EE898;" d="M87.5,50H100c0-18.505-10.061-34.65-25.003-43.296l-6.25,10.824C79.954,24.012,87.5,36.121,87.5,50z"/>
                    <polygon id="gauge-needle" style="fill:#3E3E3E;" points="57.071,50 50,57.071 42.929,50 50,4.472" transform="rotate(-90 50 50)"/>
                  </svg>
                  <span class="gauge-oldness">&nbsp;</span>
                </div>
              </div>
              <div class="project-body-nav-mobile mobile-only">
                <ul><li class="active"></li><li></li><li></li></ul>
              </div>              
              <div class="project-body-nav desktop-only">
                <ul class="project-body-nav-list">
                  <li class="active">Présentation</li>
                  <li>Projet</li>
                  <li>Code</li>
                </ul>
              </div>
              <div class="project-body-content">
                <ul class="project-body-content-list">
                  <li class="Présentation active">
                    <p>Mon dernier et plus important projet à ce jour, réalisé comme exercice à la suite de cours donnés par rallycoding.com sur ReactJS & Redux.</p>
                    <a href="https://periscope.herokuapp.com/signin/demo" target="_blank"><div class="btn btn-big btn-green">Essayer</div></a>
                  </li>
                  <li class="Projet">
                    <p>Il s'agit d'une application de photothèque permettant de stocker des images, de les partager par email et de les rechercher par mots-clés.</p>
                  </li>
                  <li class="Code">
                    <p>Développée avec ReactJS+Redux, cette app utilise JWT & Passport pour l'authentification et diverses applications NodeJS pour le traitement des images.</p>
                    <a href="https://github.com/JuCollet/periscope" target="_blank"><div class="btn btn-big btn-green"><i class="fa fa-github"></i>&nbsp;&nbsp;En savoir plus</div></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="project-artwork">
            <img class="desktop-only" id="art-periscope-desktop" src="img/periscope_macbook_mockup.png" data-animation="slideLeft">
              <video class="desktop-only" id="art-periscope-video" data-animation="slideLeft video" preload="auto" loop>
                <source src="img/periscope_demo_short_ld.mp4" type="video/mp4">
                <source src="img/periscope_macbook_screen.png">
                Votre navigateur n'est pas compatible. :(
              </video>            
            </img>
            <img class="mobile-only" id="art-periscope-iphone" src="img/periscope_iphone_mockup.png" />
          </div>
        </section>
        
        <section class="quick-apps">
          <div class="project-body project-body-narrow">
            <div class="project-body-title">
              <h1>Mini-projets</h1>
            </div>
            <div class="project-body-content">
              <ul>
                <li>
                  <p>Ces minis-projets (ou simples POCs) m'ont servis à expérimenter de nouvelles techniques ou technologies.</p>
                </li>
              </ul>
              <svg version="1.1" class="desktop-only qa-arrow" id="quick-apps-left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              	 width="12.5px" height="25px" viewBox="0 0 12.5 25" enable-background="new 0 0 12.5 25" xml:space="preserve">
              <path d="M11.37,0c0.281,0,0.562,0.105,0.782,0.316c0.45,0.435,0.465,1.154,0.033,1.608l-9.53,9.999l9.571,11.2
              	c0.406,0.476,0.353,1.193-0.12,1.603c-0.473,0.409-1.186,0.354-1.593-0.121L0.272,12.622c-0.378-0.444-0.361-1.105,0.042-1.528
              	L10.556,0.35C10.776,0.117,11.073,0,11.37,0z"/>
              </svg>              
              <svg version="1.1" class="desktop-only qa-arrow" id="quick-apps-right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              	 width="12.5px" height="25px" viewBox="0 0 12.5 25" enable-background="new 0 0 12.5 25" xml:space="preserve">
              <path d="M1.13,25c-0.282,0-0.562-0.105-0.782-0.316c-0.45-0.435-0.465-1.154-0.033-1.608l9.531-9.999l-9.572-11.2
              	c-0.406-0.476-0.353-1.193,0.12-1.603C0.867-0.134,1.58-0.08,1.986,0.396l10.242,11.982c0.378,0.444,0.361,1.105-0.042,1.528
              	L1.945,24.65C1.724,24.883,1.427,25,1.13,25z"/>
              </svg>
            </div> 
          </div>
          <div class="quick-apps-list">
            <ul>
              <li data-modal="modalQaPA">
                <img src="img/qa_puzzle_app.png"/>
                <span>Puzzleduino</span>
              </li>
              <li data-modal="modalQaCP">
                <img src="img/qa_centpatates_app.png"/>
                <span>Cent patates</span>
              </li>
              <li data-modal="modalQaPC">
                <img src="img/qa_paycheck_app.png"/>
                <span>Paycheck</span>
              </li>              
            </ul>
          </div>
        </section>
        
        <section class="final">
          <h1>To be continued... :)</h1>
          <h3>Ce <span class="date-string"></span>, j’aurai déjà passé <span class="journeyLength-string"></span> jours à apprendre, et à me familiariser avec HTML, CSS, Javascript, Bootstrap, AngularJS, ReactJS, Redux, Less, Gulp, NodeJS, ExpressJS, Ionic, Mongoose, Ajax, Webpack, Git, ES6, JWT, PassportJS,...</h3>              
          <p>Après une première formation de 7 mois donnée par l'Université des Sciences et Technologies de Hong-Kong sur Coursera, j'ai passé de très nombreuses heures sur TeamTreehouse, CodeSchool, RallyCoding,... sur les documentations officielles, les blogs ou chaines YouTube d'autres passionnés.</p>
          <p>Aujourd’hui, je sais développer une interface responsive en me souciant de la compatibilité avec les différents navigateurs, de ses performances et de sa sécurité. Je sais aussi développer une API REST back-end avec NodeJS, qui communique avec une base de donnée NoSQL MongoDB.</p>
          <p>En avançant dans mon parcours, j’ai appris l’importance d’organiser mon travail en le divisant en 3 parties&nbsp;: recherches ergonomiques, design de l’interface (Sketch), puis implémentation. Pour l’implémentation, je m’inspire des méthodes Scrum et m’impose des Sprints contenant une liste de fonctionnalités à implémenter pour chacune de mes sessions de code.</p>
          <p>Ce n’est bien sûr qu’un début et ce <span class="dateDay-string"></span> encore, je profite de mon temps libre pour progresser dans ma liste de techniques, technologies et projets, à apprendre ou à réaliser :</p>
          <ol>
            <li>Mocha & Chai (unit testing)</li>
            <li>Mini-projet (ReactJS & unit testing)</li>
            <li>GraphQL & React Server Side Rendering</li>
            <li>Application front & back-end (ReactJS, SSR & GraphQL)</li>
            <li>ReactNative</li>
            <li>Mini-project (ReactNative)</li>
            <li>Angular 4&nbsp;? SQL&nbsp;? C#/.Net&nbsp;? Golang&nbsp;? PHP&nbsp;?... </li>
            <li>...</li>
          </ol>
        </section>
        
        <section class="final final-footer">
          <img src="img/profileImg.jpeg"/>
          <h2>Envie d’en savoir plus sur moi&nbsp;? Un encouragement, un conseil, une remarque&nbsp;? Ou vous êtes une association et vous pensez que je pourrais vous aider&nbsp;?</h2>
          <a href="mailto:ju.collet@gmail.com" target="_blank"><div class="btn btn-big btn-white">Contactez-moi !</div></a>
        </section>        
    </body>
</html>