@import 'buttons';
@import 'freshness';
@import 'modal';

@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

@screen-sm-min: 768px;
@screen-md-min: 1024px;
@screen-lg-min: 1200px;

@green: #4EE898;
@fairlyBlack: #101010;
@veryDarkGrey: #202020;



// BASE //


html, body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,p {
  margin: 0;
}

h1 {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

p {
  margin-bottom: 1.5em;  
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;     
  line-height: 130%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


// MODULES //

.mobile-only {
  display: none;
}

.project {
  display: flex;
  overflow: hidden;
  height: 80vh;
  padding: 10vh 0;
}

.project-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 10vw;
}

.project-body-narrow {
  width: 30vw;
}

.project-body-wide {
    width: 50vw;
}

.project-body-box {
  min-height: 300px;
}

.project-body-title {
  position: relative;
  margin-bottom: 1.5em;
}

.project-body-nav {
  
  ul {
    margin-bottom: 1em;
    
    li {
      opacity: .4;
      margin-right: .75em;      
      padding-bottom: .5em;
      display: inline-block;
      font-size: 1em;
      transition: .25s;
      cursor: pointer;
    }
    
    li:hover:not(.active) {
      opacity: .9;
    }
  
  }
  
}

.project-body-nav-list {
  min-height: 28px;
}
    
.project-body-content-list {
  
  li {
    display: none;
    transition: .1s;
  }
  
  li.active {
    display: block;
  }          
  
} // end project-body-content-list
  
.project-body-nav-mobile {
  
  ul {
    
    margin-top: .5em;
    margin-bottom: 1em;

    li {
      display: inline-block;
      opacity: .2;      
      border-radius: 50%;
      margin-right: .75em;
      width: .75em;
      height: .75em;
    }
    
    li:last-child {
      margin-right: initial;
    }
    
  } // end ul
  
} // end project-body-nav-mobile


.project-artwork {
  position: relative;
  top: 0;
  right: 0;
  height: 100vh;
  width: 60vw;
} // end project-artwork

.project-tall {
  height: 130vh;
}

.project-dark {
  background-color: @fairlyBlack;
  color: #FFFFFF;
  
  .project-body-nav {
    li {
      border-color: white;
    }
  }
  .project-body-nav-mobile {
    li {
      background-color: #FFFFFF;
    }
  } // ends .project-body-nav-mobile
  
}

.project-clear {
  background-color: #FFFFFF;
  color: @veryDarkGrey;
  
  .project-body-nav {
    li {
      border-color: @veryDarkGrey;
    }
  }
  .project-body-nav-mobile {
    li {
      background-color: @veryDarkGrey;
    }
  }
}

.quick-apps {
  display: flex;
  height: 300px;
  margin: 100px 0;
  overflow: hidden;

  .project-body {
    min-width: 400px;
    
    .project-body-content {
      p {
        margin-bottom: 1em;
      }
    }
    
    #quick-apps-left {
      margin-right: 1em;
    }    
    
    .qa-arrow {
      height: 20px;
      opacity: .7;
      transition: .25s;
      cursor: pointer;
      user-select: none;
    }
    
    .qa-arrow:hover {
      opacity: 1;
    }
    
  }
 
  .quick-apps-list{
    margin-top: 30px;
    display: flex;
    height: 330px;
    margin-left: 4em;
    overflow-y: hidden;
    overflow-x: auto;
    
    ul {
      display: flex;
      flex-wrap: nowrap;
    }
    
    li {
        display: inline-block;
        margin-right: 1.5em;
        text-align: center;
        
      img {
        width: 225px;
        border-radius: 5px;
      }
      
      span {
        display: block;
        margin-top: .5em;
        font-weight: bold;
      }
      
    }
    
  } 
  
}

@media (max-width:@screen-md-min){
  
  .project-body-narrow {
    width: 40vw;
  }
  
  .project-artwork {
    width: 50vw;
  }
  
}

@media (max-width:@screen-sm-min){
  
  .desktop-only {
    display: none !important;
  }
  
  .mobile-only {
    display: initial !important;
  }
  
  .project {
    flex-direction: column-reverse;
    height: initial;
  }
  
  .project-body {
    padding-right: 10vw;
    text-align: center;
  }
  
  .project-body-narrow, .project-body-wide {
    width: 80vw;
  }
  
  .project-body-box {
    min-height: initial;
  }
  
  .project-body-title {
    margin-top: 1em;
    margin-bottom: 1em;
  }  
  
  .project-artwork {
    position: initial;
    padding-right: 10vw;
    padding-left: 10vw;
    height: initial;
    width: 80vw;
  }
  
  .quick-apps {
    height: initial;
    margin: 50px 0;
    flex-direction: column;
    
    .project-body {
      padding: 0 10vw;      
      min-width: initial;
      height: initial;
    }
    
    .quick-apps-list {
      height: initial;
      padding-bottom: 1em;
      margin-top: 1em;
      margin-left: initial;
      
      li:first-child {
        margin-left: 1.5em;
      }
      
    }
    
  }
  
}

// ELEMENTS //

#art-qode-iphone-top {
  position: absolute;
  opacity: 0;
  bottom: 30%;
  right: -5%;
  width: 75%;
  transition: .5s linear;
}

#art-qode-iphone-bottom {
  position: absolute;
  opacity: 0;
  top: 50%;
  width: 50%;
  transition: 1s linear;
}

#art-qode-pixel {
  margin-bottom: 1em;
  width: 100%;
}

@media (max-width:@screen-md-min){
  #art-qode-iphone-top {
    bottom: 30%;
    right: -10%;
    width: 95%;
  }
  
  #art-qode-iphone-bottom {
    top: 60%;
    width: 60%;
  }
}

#art-periscope-desktop {
  position: absolute;
  top: -10vh;
  height: 100vh;
  transition: .75s;
}

#art-periscope-video {
  position: relative;
  z-index: 999;
  border-radius: 2px;
  top: 4vh;
  left: 29.5vh;
  height: 69vh;
  width: auto;
  transition: .75s;
}

#art-periscope-iphone {
  margin-bottom: 1em;
  width: 100%;
}


// STATES //

.fade {
  opacity: 1 !important;
}

.project-body-nav {
  li.active {
    opacity: 1;
    border-bottom: 2px solid;   
  }
}

.project-body-nav-mobile {
  li.active {
    opacity: 1;
  }
}

.slideLeft {
  transform: translateX(-20px);
}