@screen-sm-min: 768px;
@screen-md-min: 1024px;
@screen-lg-min: 1200px;

@green: #4EE898;
@fairlyBlack: #101010;
@veryDarkGrey: #202020;

// BASE //

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,p {
  margin: 0;
}

p {
  line-height: 130%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.75rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// MODULES //

.btn {
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}

.btn-big {
  padding: .5em 1.5em;
  font-size: 1em;
}

.btn-green {
  background-color: @green;
}

.btn-green:hover {
  background-color: darken(@green, 10%);
}

.mobile-only {
  display: none;
}

.project {
  display: flex;
  overflow: hidden;
  height: 130vh;
  padding: 10vh 0;
}

.project-dark {
  background-color: @fairlyBlack;
  color: #FFFFFF;
  
  .project-body-nav {
    li {
      border-color: white;
    }
  }
  .project-body-nav-mobile {
    li {
      background-color: #FFFFFF;
    }
  } // ends .project-body-nav-mobile
}

.project-clear {
  background-color: #FFFFFF;
  color: @veryDarkGrey;
  
  .project-body-nav {
    li {
      border-bottom: 1px solid @veryDarkGrey;
    }
  }
  
  .project-body-nav-mobile {
    ul {
      margin-bottom: 1em;
      li {
        display: inline-block;
      }
    }
  } // ends .project-body-nav-mobile
} // ends .project-clear

.project-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 10vw;
  width: 30vw;
}

.project-body-title {
  margin-bottom: 1.5em;
}

.project-body-nav {
  ul {
    margin-bottom: 1em;
    li {
      opacity: .2;
      margin-right: .75em;      
      padding-bottom: .5em;
      display: inline-block;
      font-size: 1em;
      transition: .25s;
      cursor: pointer;
    }
    li:hover:not(.active) {
      opacity: .4;
    }
  }
}

.project-body-nav-mobile {
  ul {
    margin-top: -.5em;
    margin-bottom: 1.5em;
    li {
      display: inline-block;
      opacity: .2;      
      border-radius: 50%;
      margin-right: .75em;
      width: .75em;
      height: .75em;
    }
  }
}

.project-body-content {  
  ul {
    p {
      font-family: 'Raleway', sans-serif;
      font-weight: 200;
      font-size: 1.375rem;      
      margin-bottom: 1.5em;
    }
  }
}

.project-artwork {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 60vw;
}

@media (max-width:@screen-md-min){
  
  .project-body {
    width: 40vw;
  }
  
  .project-artwork {
    width: 50vw;
  }
  
}

@media (max-width:@screen-sm-min){
  
  .desktop-only {
    display: none;
  }
  
  .mobile-only {
    display: initial;
  }
  
  .project {
    flex-direction: column-reverse;
    height: initial;
  }
  
  .project-body {
    padding-right: 10vw;
    width: 80vw;
  }
  
  .project-body-title {
    margin-bottom: 1em;
  }  
  
  .project-artwork {
    position: initial;
    padding-right: 10vw;
    padding-left: 10vw;
    height: initial;
    width: 80vw;
  }
  
}

// ELEMENTS //

#art-qode-iphone-top {
  position: absolute;
  opacity: 0;
  bottom: 40%;
  right: -5%;
  width: 75%;
  transition: .5s linear;
}

#art-qode-iphone-bottom {
  position: absolute;
  opacity: 0;
  top: 40%;
  width: 50%;
  transition: 1s linear;
}

.fade {
  opacity: 1 !important;
}

#art-qode-pixel {
  margin-bottom: 1em;
  width: 100%;
}

@media (max-width:@screen-md-min){
  #art-qode-iphone-top {
    bottom: 60%;
    right: -10%;
    width: 95%;
  }
  
  #art-qode-iphone-bottom {
    top: 35%;
    width: 60%;
  }
}

// STATES //

.project-body-nav {
  li.active {
    opacity: 1;
    border-bottom: 1px solid;   
  }
}

.project-body-nav-mobile {
  li.active {
    opacity: 1;
  }
}